body{
  font: 15px/1.5 MicraC;
}
/*global */
.container{
  width:80%;
  margin: auto;
  overflow: hidden;
}

/*header **/
header{
  background-color:#696969;
  color: #ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#FF0000 3px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size:16px;
}

header ul{
  margin:0;
  padding:0;
}

header li{
  float: left;
  display: inline;
  padding: 0px 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0px;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
  color:#ff0000;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight: bold;
}

/** showcase **/
#showcase img{
  display: block;
  margin: auto;
  width: 40%;
}

/* boxes **/
#boxes .clan{
  position: absolute;
  top:50%;
  left:60%;
  right:50%;
  width: 150px;
}

#boxes .download{
  position:absolute;
  top:50%;
  left:40%;
  right:50%;
  width: 150px;
}

#boxes .join{
  position: absolute;
  top:50%;
  left:20%;
  right:50%;
  width: 150px;
}

footer{
  padding: 20px;
  margin-top: 20px;
  background-color:#ff0000;
  text-align: center;
}
